SUNBIRD_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJLYXR1c2lpbWUgQmFyaWd5ZSBTY292aWEiLCJhY2NvdW50X3R5cGUiOiJGcmVlIiwiZXhwIjo0OTMxOTA3MjM0fQ.L_TZelWNoa_TH6X0Bpbj5NrYLRaUtVAGfwzNZJTriUg
SUNBIRD_BASE_URL=https://api.sunbird.ai/api/v1
